<div class="my-5">
    <h1 class="text-center">도서검색</h1>
    <div class="row justify-content-end">
        <form name="frm" class="col-md-4 clo-lg-3">
            <div class="input-group">
                <input name="query" class="form-control">
                <button class="btn btn-primary">검색</button>
            </div>
        </form>
    </div>
    <div id="div_books"></div>
    <div class="text-center">
        <button id="prev" class="btn btn-outline-secondary">이전</button>
        <span id="span_page">1/10</span>
        <button id="next" class="btn btn-outline-secondary">다음</button>
    </div>
</div>

<script id="temp_books" type="x-handlebars-template">
    <table class="table">
        {{#each documents}}
        <tr>
            <td>{{title}}</td>
            <td>{{price}}</td>
            <td>{{authors}}</td>
        </tr>
        {{/each}}
    </table>
</script>
<script>
    let query="자바";
    let page=1;
    getBooks();
    
    //검색창
    $(frm).on("submit", function(e){ 
        e.preventDefault();
        query=$(frm.query).val();
        if(query==""){
            alert("글 입력");
            $(frm.query).focus();
        }else{
            getBooks();
        }
    });

    // 이전,다음 페이지
    $("#next").on("click", function(){
        page++;
        getBooks();
    });

    $("#prev").on("click", function(){
        page--;
        getBooks();
    });
    

    // 책 내용가져오기 
    function getBooks(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v3/search/book?target=title",
            headers:{"Authorization": "KakaoAK 05aee704d58be14c51f824d12f4406d2"},
            data:{query:query, page:page, size:5},
            success:function(data){
                console.log(data);
                const temp=Handlebars.compile($("#temp_books").html());
                $("#div_books").html(temp(data));
                const last=Math.ceil(data.meta.pageable_count/5);
                $("span_page").html(`${page}/${last}`);

                // 페이지가 1페이지인 경우
                if(page==1) $("prev").attr("disabled", true);
                else $("prev").attr("disabled", false);

                if(data.mata.is_end) $("#next").attr("disabled", true);
                else $("next").attr("disabled", false);
            }
        });
    }
</script>